body {
    margin: 0;
    background-color: #f7f9fc;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

.profile-photo {
    width: 200px;
    border-radius: 100px;
}

.main-box {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
    padding: 30px;
}

.profile-summary {
    padding: 30px;
}
.location-info {
    color: #6fbaf8;
}
.button-contact {
    background-color: #6fbaf8;
    border: none;
}

.profile-detail {
    margin: auto;

}

.bold-font {
    font-weight: bold;
}

.nav-bar {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-bottom: 3px solid rgb(209, 220, 231);

}
.nav-profile {
    color: #6fbaf8;
    border-bottom:3px solid #6fbaf8;
    font-size: 20px;
    margin: -3px;
}

.skills {
    display: inline-block;
    border: 1px solid rgb(209, 220, 231);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-signUp {
    text-align: center;
}

.linkedin-icon {
    color: #6fbaf8;
}

.signup-link {
    text-decoration: none;
    color: #6fbaf8;
}

.people-photo {
    width: 50px;
    border-radius: 25px;
}

.loca{
    font-size: 10px;
}

@media and 